.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: linear-gradient(#1ea0ff, white);
}

.siteContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

@media (--pcWidthScreenSize) {
  .siteContent {
    width: var(--mobileWidth);
  }
}

.header {
  width: 100%;
}

@media (--pcWidthScreenSize) {
  .header {
    width: var(--mobileWidth);
  }
}

.main {
  width: 100%;
  height: 44%;
  overflow: scroll;
}

@media (--pcWidthScreenSize) {
  .main {
    width: var(--mobileWidth);
    height: 48vh;
  }
}

@media (--pcWidthMobileHeightScreenSize) {
  .main {
    width: var(--mobileWidth);
    height: 350px;
  }
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding-top: 90%;
  background-image: url("@images/index/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  animation: footerAnimation 1s;
}

@media (--pcWidthScreenSize) {
  .footer {
    padding-top: 0;
    width: var(--mobileWidth);
    height: 455px;
  }
}

@keyframes footerAnimation {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.margin {
  height: 5px;
}
