.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#1ea0ff, white);
}

.main {
  width: var(--mobileWidth);
  height: 100%;
  background-color: white;
}

@media (--mobileSize) {
  .main {
    width: 100%;
  }
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: var(--mobileWidth);
  height: 455px;
  background-image: url("@images/index/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  animation: footerAnimation 1s;
}

@media (--mobileSize) {
  .footer {
    width: 100%;
    height: 0;
    padding-top: 90%;
  }
}

@keyframes footerAnimation {
  0% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0);
  }
}

.nav {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.margin {
  height: 5px;
}
